python-dotenv
mlflow
dagshub
dataclasses
numpy
pandas
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
flask_sqlalchemy
flask_bcrypt
flask_session
xgboost
redis

-e .