.Predict {
  body {
    background-color: #121212;
  }

  .form-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 600px;
    max-height: 1000px;
    display: flex;
    flex-direction: column; /* Chuyển hướng Flex sang cột */
    align-items: center; /* Canh giữa các phần tử theo chiều ngang */
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .form-container h1 {
    text-align: center;
    color: #f3c623;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
  }

  .form-row {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .form-row label {
    width: 150px;
    color: #bbbbbb;
    font-size: 16px;
    margin-right: 15px;
  }

  .input-text {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #ffffff;
    transition: border-color 0.3s;
  }

  .input-text:focus {
    border-color: #f3c623;
    outline: none;
  }

  .form-row-buttons-container {
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    display: flex;
    margin-top: 20px;
    margin-left: -10px;
  }
  
  .form-row-buttons {
    flex: 1; /* Để các nút có kích thước đều nhau */
  }
  
  .btn {
    border-radius: 50px;
    background-color: #f3c623;
    color: #000;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #ffd700;
    transform: translateY(-3px);
  }
  
  .btn:active {
    background-color: #cba423;
  }  
}
