.Predict {
  body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
  }

  .form-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  }

  .form-container h1 {
    text-align: center;
    margin: 0 0 20px 0;
    color: #f3c623;
    font-size: 24px;
    font-weight: bold;
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-row label {
    width: 150px;
    color: #bbbbbb;
    font-size: 16px;
  }

  .input-text {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #ffffff;
    transition: border-color 0.3s;
  }

  .input-text:focus {
    border-color: #f3c623;
    outline: none;
  }

  .form-row-total, .form-row-combined {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 8px; /* Added margin-bottom for spacing between combined rows */
  }

  .form-row-buttons {
    display: flex;
    margin-top: -200px; /* Adjust as needed */
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #f3c623;
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .btn:hover {
    background-color: #ffd700;
    transform: translateY(-3px);
  }

  .btn:active {
    background-color: #cba423;
  }
}
